body {
    font-family: 'Arvo', serif;
    color: #111;
}

.flex {
    display: flex;
}

body {
    font-family: 'Arvo', serif;
    color: #111;
}

#navgrid {
    display: flex;
    justify-content: space-between;
    background-color: #c79a75;
    padding: 15px 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.menu {
    display: flex;
    justify-content: space-around;
    color: #e5e5e5;
    margin: 0 15px;
    cursor: pointer;
    transition: color 0.3s;
    align-items: center;
    padding: 0;
    flex-wrap: wrap;
    margin: 15px 0;
}

.menu a {
    font-size: 1rem;
    color: #222;
    font-weight: 500;
    text-decoration: none;
    margin: 0 10px;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;

}

.flexabout {
    display: flex;
    align-items: stretch;
}

.menu a:hover {
    background-color: #eee;
    color: #2C3E50;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: px;
    margin-bottom: 20px;
    margin-left: 10;
    text-align: left;
    border-bottom: 2px solid deepskyblue;
    padding-bottom: 10px;
    color: #2C3E50;

}

.skillsheading {
    margin-top: -30px;
}

.flex {
    display: flex;
}

.headerbox,
section,
body {
    background-color: #f9f1e8;
}


.halfDiv {
    width: 45%;

}

.halfDivabout {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.image {

    margin-left: auto;
    margin-right: auto;

}

.myimage {
    height: 100px;
    width: 100px;

}


.header {
    display: flex;
    justify-content: center;
}

section {
    margin: 20px;

}

.navDiv {
    font-size: medium;
    color: #ecf0f1;
    font-size: 1.5em;
    margin: 0;
    color: #333;
    font-weight: bold;
    padding: 15px 0;
    letter-spacing: 1.5px;
    font-family: "DM Sans", sans-serif;
    border-bottom: 2px solid #ccc;
    justify-content: space-between;
    align-items: center;
}

.headerbox {
    margin: auto;
    padding: 10px;

}

.box {
    margin: auto;
    height: 450px;
    padding: 10px;

}

.imagecontainer {
    display: flex;
    justify-content: center;
}

.content {
    padding: 10px;

    margin: auto;
}

.center {
    justify-content: center;
    margin: auto;
}

.bold-text {
    font-weight: bold;
}

.textcenter {
    text-align: center;
}

.centered-list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;

    text-align: center;
}

.centered-list li {
    text-align: center;
}

.fontitalic {
    font-style: italic;
}

.label {
    font-weight: bold;
}

.value {
    font-style: italic;
}

.centered-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    max-width: 70%;
}

.sectionclass {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
}

.contact-item {
    margin-bottom: 10px;
    font-size: 1rem;
}


.contactbox {
    margin: auto;
    height: 450px;
    padding: 10px;
    /* width: max-content; */

}

.contact-item {
    margin-bottom: 10px;
    font-size: 1rem;


}

.contact-icon {
    width: 50px;
    height: 60px;
    display: block;
    padding: 2px;

}

.contact-link {
    text-decoration: none;
    color: inherit;
    display: inline-block;

}

.block {
    display: block;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "navgrid navgrid "
        "aboutgrid  skillsgrid"
        "experiecegrid experiecegrid"
        "projetctsgrid projetctsgrid"
        "educationgrid educationgrid"
        "contactgrid blogsgrid";
 
}

#navgrid {
    grid-area: navgrid;
}

#aboutgrid {
    grid-area: aboutgrid;
}

#skillsgrid {
    grid-area: skillsgrid;
}

#experiecegrid {
    grid-area: experiecegrid;
}

#projetctsgrid {
    grid-area: projetctsgrid;
}

#educationgrid {
    grid-area: educationgrid;
}

#contactgrid {
    grid-area: contactgrid;
}

#blogsgrid {
    grid-area: blogsgrid;
}


/* mobile layout */
@media only screen and (max-width:500px) {
    .container {
        display: grid;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 2.2fr 2.2fr 2.2fr 2.2fr 2.2fr 2.2fr 2.2fr;
        grid-template-areas:
            "navgrid"
            "aboutgrid"
            "skillsgrid"
            "experiecegrid"
            "projetctsgrid"
            "educationgrid"
            "contactgrid"
            "blogsgrid";

    }

}